<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pokedex.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>pokedex.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Pokedex</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Pokedex</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DexContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:e7uxdxflzi.database.windows.net,1433;Initial Catalog=Pokedex;Integrated Security=False;User ID=eeiter@e7uxdxflzi;Password=-fortevsmega2;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Pokedex.DAL.DexContext, Pokedex" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DexContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:e7uxdxflzi.database.windows.net,1433;Initial Catalog=Pokedex;Integrated Security=False;User ID=eeiter@e7uxdxflzi;Password=-fortevsmega2;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>