@{
    ViewBag.Title = "Pokédex";
}

<div class="jumbotron">
    <h1>Pok&eacute;dex</h1>
    <p class="lead">View all 151 First Generation Pok&eacute;mon, where they can be obtained, what Pok&eacute;mon they
    evolve from, and what TMs &amp; HMs they can learn</p>
    <p class="lead">Create a user and add Pok&eacute;mon to your "caught" list</p>
</div>
